In [17]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
%autoreload
import sys

sys.path.insert(0, '../')
from constants import *
from lin_reg import *

# Defining the features we want to keep for the model

In [19]:
#Cleaning data such that only wanted features are included
selected_features = ["date_forecast", 'direct_rad:W', 'direct_rad_1h:J', 'clear_sky_rad:W',
                     'clear_sky_energy_1h:J', 'diffuse_rad:W', 'sun_elevation:d', 'is_in_shadow:idx', 'is_day:idx']

In [20]:
def drop_repeating_sequences(df):
    indexes_to_drop = []
    prev_val = None
    consecutive_count = 0

    for i, val in enumerate(df["pv_measurement"]):
        if val != 0:
            if val == prev_val:
                consecutive_count += 1
            else:
                prev_val = val
                consecutive_count = 0

            if consecutive_count >= 1:
                indexes_to_drop.extend([i - consecutive_count, i])

    return df.drop(indexes_to_drop)

def delete_ranges_of_zeros_and_interrupting_values(df, number_of_recurring_zeros, interrupting_values = []):
    count = 0
    drop_indices = []

    df = df.dropna()

    for index, row in df.iterrows():
        if row["pv_measurement"] == 0 or row["pv_measurement"] in interrupting_values:
            count += 1
        else:
            if count > number_of_recurring_zeros:
                drop_indices.extend(df.index[index - count:index])
            count = 0

    if count > number_of_recurring_zeros:
        drop_indices.extend(df.index[index - count + 1:index + 1])

    df.drop(drop_indices, inplace=True)

    return df

def drop_long_sequences(df, x):
    indexes_to_drop = []
    zero_count = 0

    for i, val in enumerate(df['pv_measurement']):
        if val == 0:
            zero_count += 1
        else:
            if zero_count >= x:
                start_index = i - zero_count
                end_index = i - 1  # inclusive
                if start_index >= 0 and end_index < len(df):
                    indexes_to_drop.extend(list(range(start_index, end_index + 1)))
            zero_count = 0

    # In case the sequence ends with zeros, this will handle it
    if zero_count >= x:
        start_index = len(df) - zero_count
        end_index = len(df) - 1
        if start_index >= 0 and end_index < len(df):
            indexes_to_drop.extend(list(range(start_index, end_index + 1)))

    return df.drop(df.index[indexes_to_drop])

y_b = drop_repeating_sequences(y_b.copy())
y_b = delete_ranges_of_zeros_and_interrupting_values(y_b.copy(),200,[0.8625])
y_b = delete_ranges_of_zeros_and_interrupting_values(y_b.copy(),25,[0.8625])
y_b = drop_long_sequences(y_b.copy(),25)
y_c = delete_ranges_of_zeros_and_interrupting_values(y_c.copy(),5,[19.6,9.8])

                     time  pv_measurement
0     2018-12-31 23:00:00        0.000000
1     2019-01-01 00:00:00        0.000000
2     2019-01-01 01:00:00        0.000000
3     2019-01-01 02:00:00        0.000000
4     2019-01-01 03:00:00        0.000000
...                   ...             ...
32843 2023-04-30 19:00:00        0.828587
32844 2023-04-30 20:00:00       -0.000000
32845 2023-04-30 21:00:00       -0.000000
32846 2023-04-30 22:00:00       -0.000000
32847 2023-04-30 23:00:00       -0.000000

[32844 rows x 2 columns]

                     time  pv_measurement
0     2018-12-31 23:00:00        0.000000
1     2019-01-01 00:00:00        0.000000
2     2019-01-01 01:00:00        0.000000
3     2019-01-01 02:00:00        0.000000
4     2019-01-01 03:00:00        0.000000
...                   ...             ...
32843 2023-04-30 19:00:00        0.828587
32844 2023-04-30 20:00:00       -0.000000
32845 2023-04-30 21:00:00       -0.000000
32846 2023-04-30 22:00:00       -0.000000
32847 2023-04-30 23:00:00       -0.000000

[29399 rows x 2 columns]

                     time  pv_measurement
0     2018-12-31 23:00:00        0.000000
1     2019-01-01 00:00:00        0.000000
2     2019-01-01 01:00:00        0.000000
3     2019-01-01 02:00:00        0.000000
4     2019-01-01 03:00:00        0.000000
...                   ...             ...
32843 2023-04-30 19:00:00        0.828587
32844 2023-04-30 20:00:00       -0.000000
32845 2023-04-30 21:00:00       -0.000000
32846 2023-04-30 22:00:00       -0.000000
32847 2023-04-30 23:00:00       -0.000000

[27572 rows x 2 columns]

                     time  pv_measurement
0     2018-12-31 23:00:00        0.000000
1     2019-01-01 00:00:00        0.000000
2     2019-01-01 01:00:00        0.000000
3     2019-01-01 02:00:00        0.000000
4     2019-01-01 03:00:00        0.000000
...                   ...             ...
32642 2023-04-22 10:00:00      320.909837
32686 2023-04-24 06:00:00      255.178152
32687 2023-04-24 07:00:00      449.964258
32688 2023-04-24 08:00:00      619.661318
32756 2023-04-27 04:00:00       28.412041

[23962 rows x 2 columns]

                     time  pv_measurement
0     2018-12-31 23:00:00        0.000000
1     2019-01-01 00:00:00        0.000000
2     2019-01-01 01:00:00        0.000000
3     2019-01-01 02:00:00        0.000000
4     2019-01-01 03:00:00        0.000000
...                   ...             ...
32642 2023-04-22 10:00:00      320.909837
32686 2023-04-24 06:00:00      255.178152
32687 2023-04-24 07:00:00      449.964258
32688 2023-04-24 08:00:00      619.661318
32756 2023-04-27 04:00:00       28.412041

[20643 rows x 2 columns]

# Fitting a linear regression model and predicting on test data from X_estimated

In [21]:
Lin_reg_a = Lin_reg(X_observed_a, X_estimated_a, y_a, selected_features)
Lin_reg_a.fit()
Lin_reg_a.pred()

Lin_reg_b = Lin_reg(X_observed_b, X_estimated_b, y_b, selected_features)
Lin_reg_b.fit()
Lin_reg_b.pred()

Lin_reg_c = Lin_reg(X_observed_c, X_estimated_c, y_c, selected_features)
Lin_reg_c.fit()
Lin_reg_c.pred()

/Users/simenfritzner/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/simenfritzner/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/simenfritzner/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/simenfritzner/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/simenfritzner/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/simenfritzner/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

# Evaluating Mean Absolute Error on the test data from X_estimated

In [22]:
#Evaluate mean asbolute error
mae_a = Lin_reg_a.mae()
print("A: Mean Absolute Error:", mae_a)

mae_b =Lin_reg_b.mae()
print("B: Mean Absolute Error:", mae_b)

mae_c = Lin_reg_c.mae()
print("C: Mean Absolute Error:", mae_c)

#Saving y_pred in a proper csv file
#filename = "CSV/second_submission.csv"
#submission(filename, y_pred)

A: Mean Absolute Error: 220.39473387508545
B: Mean Absolute Error: 32.85830425693949
C: Mean Absolute Error: 11.733105240519238

In [23]:
Lin_reg_a.pred(X_test_a)
Lin_reg_b.pred(X_test_b)
Lin_reg_c.pred(X_test_c)

y_pred_Lin_reg_test = np.concatenate((Lin_reg_a.prediction, Lin_reg_b.prediction, Lin_reg_c.prediction), axis=0)
y_pred_Lin_reg_valid = np.concatenate((Lin_reg_a.pred_estimated, Lin_reg_b.pred_estimated, Lin_reg_c.pred_estimated), axis=0)
y_valid = np.concatenate((Lin_reg_a.y_test["pv_measurement"], Lin_reg_b.y_test["pv_measurement"], Lin_reg_c.y_test["pv_measurement"]), axis=0)

/Users/simenfritzner/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- day
- hour
- hour_cos
- hour_sin
- month
- ...
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)
/Users/simenfritzner/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

ValueError: X has 15 features, but LinearRegression is expecting 8 features as input.