In [7]:
%load_ext autoreload
#To update the imported files

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
%autoreload
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import make_scorer, mean_absolute_error
from sklearn.model_selection import GridSearchCV
from utilities_data import *

In [9]:
import sys
sys.path.insert(0, '../')
from constants import *
from utilities import *
sys.path.insert(0, '../RF')
from utilities_RF import *

                     time  pv_measurement
0     2018-12-31 23:00:00        0.000000
1     2019-01-01 00:00:00        0.000000
2     2019-01-01 01:00:00        0.000000
3     2019-01-01 02:00:00        0.000000
4     2019-01-01 03:00:00        0.000000
...                   ...             ...
32642 2023-04-22 10:00:00      320.909837
32686 2023-04-24 06:00:00      255.178152
32687 2023-04-24 07:00:00      449.964258
32688 2023-04-24 08:00:00      619.661318
32756 2023-04-27 04:00:00       28.412041

[20643 rows x 2 columns]

In [ ]:
y_b_augmented = y_b
y_c_augmented = y_c

In [1]:
import pandas as pd

def add_a_to_the_other_datasets(X_train_a, y_a, X_train_other, y_other):
    # Convert 'time' columns to datetime
    y_a["new_time"] = pd.to_datetime(y_a['time'])
    y_other["new_time"] = pd.to_datetime(y_other['time'])

    # Extract month from datetime
    y_a["month"] = y_a['new_time'].dt.month
    y_other["month"] = y_other['new_time'].dt.month

    # Iterate over each unique month
    for month in y_a['month'].unique():
        # Calculate average 'pv_measurement' for the current month in both datasets
        average_pv_a = y_a.loc[y_a['month'] == month, 'pv_measurement'].mean()
        average_pv_other = y_other.loc[y_other['month'] == month, 'pv_measurement'].mean()

        # Calculate scaling factor
        scaling_factor = average_pv_other / average_pv_a if average_pv_a != 0 else 0

        # Apply scaling to 'pv_measurement' in y_a for the current month
        y_a.loc[y_a['month'] == month, 'pv_measurement'] *= scaling_factor
        
    y_a.drop(columns=['new_time', 'month'], inplace=True)
    y_other.drop(columns=['new_time', 'month'], inplace=True)
    
    X_train_other_and_a = pd.concat([X_train_a, X_train_other])
    y_other_and_a = pd.concat([y_a, y_other])
    
    # Return the modified datasets
    return X_train_other_and_a, y_other_and_a

# Example usage
# X_train_a, y_a, X_train_other, y_other = add_a_to_the_other_datasets(X_train_a, y_a, X_train_other, y_other)

In [13]:
X_train_other_and_a, y_other_and_a = add_a_to_the_other_datasets(X_observed_a, y_a, X_observed_b, y_b)

C:\Users\Gustav\AppData\Local\Temp\ipykernel_36168\3962191667.py:27: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  X_train_other_and_a = pd.concat(X_train_a, X_train_other)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"